body {
  background-color: #ffe8de;
}


#canvas{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index:1;
}

#video{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index:0;
  border: 3px #fff solid;
	border-radius: 10px;
}

#chart-container{
  position:absolute;
  width: 20%;
  height: 25%;
  margin-left: 1440px;
  top:50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.leftbox {
  float: left;
  bottom: 10px;
  width: 20%;
  height: 100vh;
  padding: 0;
  display: flex;
	justify-content: center;
	align-items: center;
  background-color: #edc7b7;
  box-shadow: 0 1px 2px 0 rgba(59, 59, 59, 0.19), 0 1px 2px 0 rgba(59, 59, 59, 0.19); 
  
}

.topbox {
  float: top;
  width: 80%;
  height: 10vh;
  padding: 0;
  display: flex;
	justify-content: center;
	align-items: center;
  background-color: #e7717d;
  box-shadow: 0 1px 2px 0 rgba(59, 59, 59, 0.19), 0 1px 2px 0 rgba(59, 59, 59, 0.19); 
}

/*
 * Style for texts
 */
 h1 {
   color: #fff;
   font-size: 50px;
   font-weight: bold;
   font-family: monospace;
 }


 /*
  * Style for buttons
  */
  .grid {
    display : grid;
  }
   
  .subgrid {
    display : grid;
    grid-template-columns: subgrid;
    justify-content: center;
	  align-items: center;
    grid-gap: 5px;
  }
  .button {
    background-color: #e7717d;
    border: 0;
    color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*box-shadow: 0 1px 2px 0 rgba(59, 59, 59, 0.19), 0 1px 2px 0 rgba(59, 59, 59, 0.19); */
    border-radius: 8px;
    font-size: x-large;
    font-family: serif;

    
  }
/* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%; */

/*
 * Style for chart and video display
 */
  @media only screen and (max-width:1440px) {
    #canvas{
      top: 50%;
      left: 45%;
    }
    #video{
      top: 50%;
      left: 45%;
    }
    #chart-container{
      position:absolute;
      width: 30%;
      height: 50%;
      margin-left: 850px;
      top:48%;
    }
  }