body {
  background-color: #FFE8DE;
}

#canvas{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index:1;
}

#video{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index:0;
  border: 3px #fff solid;
	border-radius: 10px;
}

#chart-container{
  width: 25%;
  height: 15%;
  margin-left: 1000px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.leftbox {
  float: left;
  width: 20%;
  height: 100vh;
  padding: 0;
  display: flex;
	justify-content: center;
	align-items: center;
  background-color: #edc7b7
}

.topbox {
  float: top ;
  width: 80%;
  height: 15vh;
  padding: 0;
  display: flex;
	justify-content: center;
	align-items: center;
  background-color: #e7717d
}

/* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%; */
